/* This file is for your main application css. */

.centered-container {
  display: flex;
  justify-content: center;

  margin-top: 1rem;
}

table {
  border-collapse: collapse;
  font-size: 0;
  border: 1px solid;
}

td {
  width: 0.1rem;
  height: 0.1rem;
}

.a {
background-color: #000;
}