/* This file is for your main application css. */

.centered-container {
  display: flex;
  justify-content: center;

  margin-top: 1rem;
}

table {
  border-collapse: collapse;
}

.cell {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid;
}

.alive {
  background-color: #000;
}

