<section>
  <table class="table">
    <tbody>
      <%= for row <- 1..@grid_size do %>
        <tr>
          <%= for col <- 1..@grid_size do %>
            <%= live_component @socket, CellComponent, id: cell_id(row, col) %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <button phx-click="start">Start</button>
  </table>
</section>
